body {
    background-color: saddlebrown;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /*background-color: moccasin;*/
    background-image: url("background-image.png");
    background-size: cover;
    border: 20px solid rgb(194, 118, 48);
    border-bottom: 20px solid sandybrown;
    border-top: 20px solid rgb(226, 137, 59)

}

h1 {
    color:moccasin;
}

h5{
color:sandybrown;
font-size: 20px;
font-family:'Courier New', Courier, monospace;
line-height: 0px;
}

h2{
    color:sandybrown;
}

/* Dinald image */
#dinoimage{
    margin-top: 4px;
    height: 300px;
    width: 330px;
}

#name{
    color:sandybrown;
    margin-top: -15px;
}

#controls{
    width: 24%;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 65, 19);
    border: 10px solid rgb(163, 88, 33);
    margin: 0 auto;
    margin-top: 20px;
}
